<div id="fp-main-content-container">
  <div class="flex fp-main-content">
    <div class="fp-main-content-left">
      <article class="fp-main-content-left-item flex">
        <div class="fp-main-content-left-item-inner">
          <p class="fp-main-post-subCat"></p>
          <a class="fp-main-post-title"><h2></h2></a>
          <p class="fp-main-post-tagLine"></p>
          <div class="fp-main-post-byline-container">
            <div class="fp-main-post-byline-inner-container">
              <p class="fp-main-post-author"><b></b></p>
              <p class="fp-main-post-pubDate"><span>&middot;</span><img class="star-svg" src="./../../assets/img/star.png" alt=""></p>
            </div>
          </div>
          <div class="fp-main-post-image-container">
            <a class="fp-main-post-image" [ngStyle]="{'background': 'url(' + getUrl(featuredArticles[0]) + ') no-repeat 0 0 / cover'}"></a>
          </div>
        </div>
      </article>
    </div>
  </div>
</div>
