<div class="front-page front-page-container" (scroll)="onWindowScroll($event);">
  <header id="stickyNav" class="">
    <div class="header-upper-bar flex">
      <div class="logo-container">
        <a routerLink="/Medium"><span class="header-logo"><img src="./../../assets/img/mediumLogo.png"></span></a>
      </div>
      <div class="header-button-set">
        <span class="search-icon"><svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24"><path d="M15.5 14h-.79l-.28-.27C15.41 12.59 16 11.11 16 9.5 16 5.91 13.09 3 9.5 3S3 5.91 3 9.5 5.91 16 9.5 16c1.61 0 3.09-.59 4.23-1.57l.27.28v.79l5 4.99L20.49 19l-4.99-5zm-6 0C7.01 14 5 11.99 5 9.5S7.01 5 9.5 5 14 7.01 14 9.5 11.99 14 9.5 14z"/><path d="M0 0h24v24H0z" fill="none"/></svg></span>
        <span class="notification-icon"><svg width="24" height="24" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg"><path d="M0 0h24v24H0z" fill="none"/><path d="M12 22c1.1 0 2-.9 2-2h-4c0 1.1.9 2 2 2zm6-6v-5c0-3.07-1.63-5.64-4.5-6.32V4c0-.83-.67-1.5-1.5-1.5s-1.5.67-1.5 1.5v.68C7.64 5.36 6 7.92 6 11v5l-2 2v1h16v-1l-2-2zm-2 1H8v-6c0-2.48 1.51-4.5 4-4.5s4 2.02 4 4.5v6z"/></svg></span>
        <button class="upgrade-button">Upgrade</button>
        <span class="avatar"><img src="./../../assets/img/avatar_circle.png"></span>
      </div>
    </div>
    <div class="header-lower-bar flex">
      <nav class="flex">
        <div class="flex">
          <li *ngFor="let cat of categoryList" class="fp-nav-item">
            <a routerLink="/category/{{cat}}">{{cat | uppercase}} </a>
          </li>
        </div>
      </nav>
    </div>
  </header>

<app-fp-hero></app-fp-hero>
<div class="featured-link">
  <a>See all featured ></a>
</div>
<div class="hero-divider"></div>
<!-- <app-fp-main-content></app-fp-main-content> -->

<!-- <p>Mock Articles = Left for scroll testing</p>
  <div *ngFor="let article of articles">
    <p>id: {{article.id}}</p>
    <p>title: {{article.title}}</p>
    <p>tag: {{article.tagLine}}</p>
    <p>author: {{article.author}}</p>
    <p>imgUrl: {{article.imgUrl}}</p>
    <p>pubDate: {{article.pubDate}}</p>
    <p>readLength: {{article.readLength}}</p>
    <p>category: {{article.mainCategory}}</p>
    <p>tags: {{article.tags}}</p>
    <p>claps: {{article.claps}}</p>
    <p>text: {{article.body}}</p>
    <p *ngIf="article.featured == true">featured article</p>
  </div> -->

  <p>Output from Firestore</p>

  <ul>
      <li class="text" *ngFor="let article of items | async">
        {{article.title}}<br>
        {{article.body}}
      </li>
    </ul>
</div>


