/* TODO change font colors to gray */

.fp-hero-container {
  padding: 0 16px 16px;
  display: flex;
  flex-direction: row;
  height: 350px;
  width: 100%;
  justify-content: center;
  position: relative;
  margin: 12px auto 0;
  align-items: stretch;
}

.fp-hero-largeCard {
  display: flex;
  flex-basis: 320px;
  height: 100%;
  width: 100%;
  margin-right: 24px;
}

.fp-hero-post {
  width: 100%;
  display: flex;
  flex-direction: column;
}

.fp-hero-post-image {
  min-height: 150px;
  margin-bottom: 16px;
  background-position: 51% 33%;
  position: relative;
  float: right;
}