<section class="fp-content-container">
    <div class="fp-hero-container">
      <article class="fp-hero-largeCard">
        <div class="fp-hero-post"></div>
      </article>
      <div class="fp-hero-smallCard-container">
        <article class="fp-hero-smallCard">
          <div class="fp-hero-post"></div>
        </article>
        <article class="fp-hero-smallCard">
            <div class="fp-hero-post"></div>
          </article>
          <article class="fp-hero-smallCard">
              <div class="fp-hero-post"></div>
            </article>
      </div>
      <article class="fp-hero-largeCard">
        <div class="fp-hero-post"></div>
      </article>
    </div>
  </section>