<section class="fp-content-container">
    <div class="fp-hero-container">
      <article class="fp-hero-largeCard">
        <div class="fp-hero-post">
          <a class="fp-hero-post-image"[ngStyle]="{'background': 'url(' + getUrl(featuredArticles[0]) + ') no-repeat 0 0 / cover'}"> </a>
          <div class="fp-post-content">
            <h2 class="fp-post-title nowrap">{{featuredArticles[0].title}}</h2>
            <p class="fp-post-tagLine">{{featuredArticles[0].tagLine}}</p>
            <div class="fp-hero-byLine">
              <p class="fp-post-author"><b>{{featuredArticles[0].author}} in {{featuredArticles[0].mainCategory}}</b></p>
              <p class="fp-post-pubDate">{{featuredArticles[0].pubDate}} <span>&middot;</span> {{featuredArticles[0].readTime}} min read<img class="star-svg" src="./../../assets/img/star.png" alt=""></p>
            </div>
          </div>
        </div>
      </article>
      <app-fp-hero-small [featuredArticles]="featuredArticles"></app-fp-hero-small>
      <article class="fp-hero-mediumCard">
          <div class="fp-hero-post">
            <a class="fp-hero-post-image"[ngStyle]="{'background': 'url(' + getUrl(featuredArticles[0]) + ') no-repeat 0 0 / cover'}"> </a>
            <div class="fp-post-content">
              <h2 class="fp-post-title nowrap">{{featuredArticles[4].title}}</h2>
              <p class="fp-post-tagLine">{{featuredArticles[4].tagLine}}</p>
              <div class="fp-hero-byLine">
                <p class="fp-post-author"><b>{{featuredArticles[4].author}} in {{featuredArticles[4].mainCategory}}</b></p>
                <p class="fp-post-pubDate">{{featuredArticles[4].pubDate}} <span>&middot;</span> {{featuredArticles[4].readTime}} min read<img class="star-svg" src="./../../assets/img/star.png" alt=""></p>
              </div>
            </div>
          </div>
        </article>
    </div>
  </section>