/* TODO change font colors to gray */

.fp-hero-container {
  padding: 0 16px 16px;
  display: flex;
  flex-direction: row;
  height: 350px;
  width: 100%;
  justify-content: center;
  position: relative;
  margin: 12px auto 0;
  align-items: stretch;
  max-width: 1208px;
  box-align: stretch;
}

.fp-hero-largeCard {
  display: flex;
  flex-basis: 340px;
  height: 100%;
  width: 100%;
  margin-right: 24px;
  flex: 0 1 auto;
}

.fp-hero-mediumCard {
  display: flex;
  flex-basis: 240px;
  flex: 0 1 auto;
  height: 100%;
  width: 100%;
  margin-right: 24px;
  max-width: 323px;
  position: relative;
}

.fp-hero-post {
  width: 100%;
  display: flex;
  flex-direction: column;
}

.fp-hero-post-image {
  min-height: 150px;
  margin-bottom: 16px;
  background-position: 51% 33%;
  position: relative;
  float: right;
  /* flex: 0 1 auto; */
}

.fp-hero-post .fp-post-title {
  font-weight: 600;
  max-height: 84px;
  overflow: hidden;
  margin-bottom: 4px;
}

.fp-hero-post .fp-post-tagLine {
  max-height: 60px;
  font-weight: 400;
  overflow: hidden;
  color: #838383;
  font-size: 14px;
  margin: 0;
}

.fp-hero-byLine {
  margin-top: 12px;
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  font-size: 13px;
}

.fp-hero-byLine .fp-post-author {
  margin-bottom: 0;
  color: #444444;
  font-weight: 200;
}

.fp-hero-byLine .fp-post-pubDate {
  margin: 0;
  color:#757575;
}

.star-svg {
  width: 14px;
  margin-left: 5px;
}

@media only screen and (max-width: 1018px) {
.fp-hero-mediumCard {
    display: none;
  }
}